<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
</head>

<body>
    {% include "header.html" %}
    <div class="container py-3">
            
    </div>

    {% include "footer.html" %}
    <link rel="stylesheet" href="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='js/popper.min.js')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='js/bootstrap.min.js')}}">
</body>

</html>